.task-details {
  background-color: #f8f8f8;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 20px;
  max-width: 400px;
  margin: 0 auto;
}

.task-details h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.task-details div {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.task-details h3 {
  margin-bottom: 10px;
}

.task-details p {
  margin: 5px 0;
}

.task-details label {
  font-weight: bold;
}

.task-details select {
  margin-top: 5px;
  padding: 5px;
}

.task-details button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
}

.task-details button:hover {
  background-color: #0056b3;
}
